

/* Variables */
:root {
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlue:  hsl(200, 15%, 8%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --fontFamily: 'Nunito Sans', Arial, Verdana, sans-serif;
  --fontSize: 16px;
}

/* Basic */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--fontFamily);
  background-color: var(--veryLightGray);
  font-size: var(--fontSize);
}