

/* Variables */
:root {
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlue:  hsl(200, 15%, 8%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --textColor: #333;
  --borderColor: #eee;

  --fontFamily: 'Nunito Sans', Arial, Verdana, sans-serif;
  --fontSize: 16px;
}

/* Basic */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--fontFamily);
  background-color: var(--veryLightGray);
  font-size: var(--fontSize);
}

input,
select {
  font-family: inherit;
}

input:active,
input:focus,
select:active,
select:focus {
  border:none;
  outline: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


/* Header */

.header {
  background-color: var(--white);
  box-shadow: 0 0 5px var(--borderColor);
  border-bottom: 2px solid var(--borderColor);

  color: var(--textColor);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0;
}

.header__title {
  font-weight: 700;
}

.dark-mode {
  cursor: pointer;
}


/* Main */

.main {
  margin: 2em 0;
}


/* Search Country */

.search-country {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2em;
}

.search__input {
  width: 60%;
  background-color: var(--white);
  padding: .5em 1.5em;
  border-radius: 2px;
  box-shadow: 0 0 5px var(--borderColor);
  border: 1px solid var(--borderColor);
}

.search-country .icon-search {
  margin-right: 1em;
  color: #aaa;
}

.search__filter {
  background-color: var(--white);
  padding: .5em 2em;
  border-radius: 2px;
  box-shadow: 0 0 5px var(--borderColor);
  border: 1px solid var(--borderColor);
}

.search__filter select {
  border: none;
  background-color: var(--white);
  color: var(--textColor);
}

.search__input input {
  border:none;
  background-color: transparent;
  color: var(--textColor);
}


/* countries-list */

.countries-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}



/* Country Card */

.country {
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  border-top: none;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--borderColor);

  color: var(--textColor);
}



.country__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.country__content {
  padding:1em;
}

.country__title {
  margin-bottom: 1em;
}

.country__category {
  font-weight: bold;
}



/* Mobile */
@media screen and (max-width: 400px) {
  .countries-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .search-country {
    flex-direction: column;
    align-items: flex-start;
  }

  .search__input {
    width: 100%;
    margin-bottom: 1em;
  }


  .country__img {
    height: 200px;
  }
}


/* Table */
@media screen and (min-width: 760px) {
  .countries-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .country__img {
    height: 200px;
  }
}

/* Desktop */
@media screen and (min-width: 960px) {
  .countries-list {
    grid-template-columns: repeat(4, 1fr);
  }


}



/* Class Dark Mode */

.dark-mode {
  --darkBlue: #000;
  --veryDarkBlue:  rgba(0,0,0,.9);
  --veryLightGray: rgba(0,0,0,.8);
  --white: rgba(0,0,0,.7);
  --borderColor: #333;
  --textColor: #fff;
}
